{{#if template_file '!==' 'pages/home'}}
    {{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
    {{/if}}
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="newsletter-bar">
         <div class="container">
             <style>
             @media only screen and (max-width: 760px) {
                 .fzSpET.fzSpET{
                     display: block;
                 }
                 .hSAtME.hSAtME.hSAtME.hSAtME.hSAtME.hSAtME{
                     width: 100%;
                 }
             }
             </style>
            <div class="klaviyo-form-Jwvk69"></div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="foot-columns">
                <div class="foot-col">
                    <div class="foot-heading">Connect With Us</div>
                    <ul class="foot-phone-hours">
                        <li>Call Toll Free: 1-800-401-2934</li>
                        <li>Monday - Friday 7am - 9pm EST</li>
                        <li>Saturday 9am - 6pm EST</li>
                        <li>Sunday 10am - 7pm EST</li>
                    </ul>
                    <div class="foot-email"><a href="mailto:support@golfcartgarage.com">Support@GolfCartGarage.com</a></div>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/GolfCartGarage/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC_NPYg0x-eRzhr90aCCotDQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://twitter.com/GolfCartGarage" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/thegolfcartgarage/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.pinterest.com/GolfCartGarage/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <div class="foot-col">
                    <div class="foot-heading">Quick Links</div>
                    <ul class="foot-links">
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/fleet-pricing/">Armada Rewards Program</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/policies/">Policies</a></li>
                        <li><a href="/giftcertificates.php">Gift Cards</a></li>
                        <li><a href="/golf-cart-garage-parts-accessories-catalog/">Catalog</a></li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                         <li><a href="/shipping-returns/">Shipping Policy</a></li>
                    </ul>
                </div>
                <div class="foot-col">
                    <div class="foot-heading">Categories</div>
                    <ul class="foot-links">
                        <li><a data-category href="/golf-cart-accessories/">Golf Cart Accessories</a></li>
                        <li><a data-category href="/golf-cart-battery-chargers/">Golf Cart Battery Chargers</a></li>
                        <li><a data-category href="/club-car/">Club Car</a></li>
                        <li><a data-category href="/ezgo-golf-cart-parts-accessories/">EZGO</a></li>
                        <li><a data-category href="/yamaha-golf-cart-parts-accessories/">Yamaha</a></li>
                    </ul>
                </div>
                <div class="foot-col">
                   <div id="stamped-reviews-widget" data-widget-type="site-badge" data-badge-type="badge" style="margin-bottom:20px;"></div>
                    <ul class="foot-credit-card-icons">
                        <li>
                            <i class="fa fa-cc-visa"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-amex"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-mastercard"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-discover"></i>
                        </li>
                        <li><i class="fa fa-cc-diners-club"></i>
                        </li>
                        <li><i class="fa fa-cc-paypal"></i>
                        </li>
                        <li class="paypal-credit" > 
                            <img class="lazyload"  src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/paypalcredit-icon.png'}}" alt="Paypal Credit">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="foot-copyright">Golf Cart Garage &copy; 2020. All rights reserved.</div>
</footer>
