<ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-mega{{/if}} navPages-mainNav">
    <li class="navPages-item">
        <a data-category class="navPages-action has-subMenu" href="/golf-cart-accessories/" data-collapsible="navPages-0">
            Accessories <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
        </a>
        <div class="navPage-subMenu" id="navPages-0" aria-hidden="true" tabindex="-1">
            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-body/">Golf Cart Body</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-brush-guards/">Golf Cart Brush Guards & Bumpers</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-cargo-storage/">Golf Cart Cargo & Storage</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-covers-enclosures/">Golf Cart Covers & Enclosures</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-fender-flares/">Golf Cart Fender Flares</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-lift-kits/">Golf Cart Lift Kits</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-lights/">Golf Cart Lights</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/mirrors/">Golf Cart Mirrors</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-radios/">Golf Cart Radios & Speakers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-rear-seat-kits/">Golf Cart Rear Seats</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-seats/">Golf Cart Seats</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-seat-belts/">Golf Cart Seat Belts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-seat-covers/">Golf Cart Seat Covers</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-steering-wheels/">Golf Cart Steering Wheels & Covers</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/wheels-tires/">Tires & Wheels</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-tops/">Golf Cart Tops</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-hitches/">Golf Cart Trailer Hitches</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-windshields/">Golf Cart Windshields</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-accessories/">View All Accessories</a></li>
            </ul>
        </div>
    </li>
    <li class="navPages-item">
        
      <span data-category class="navPages-action has-subMenu" data-collapsible="navPages-1">Batteries/Chargers <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></span>
        <div class="navPage-subMenu" id="navPages-1" aria-hidden="true" tabindex="-1">

            <ul class="navPage-subMenu-list">
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-battery-chargers/">Golf Cart Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-battery-chargers/">Club Car Battery Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ez-go-battery-chargers/">EZ Go Golf Cart Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-battery-chargers/">Yamaha Battery Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/on-board-battery-chargers/">On-Board Battery Chargers</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/24-volt-battery-chargers/">24 Volt Battery Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/36-volt-battery-chargers/">36 Volt Battery Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/48-volt-battery-chargers/">48 Volt Battery Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/72-volt-battery-chargers/">72 Volt Battery Chargers</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-batteries/">Golf Cart Batteries</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-battery-cables/">Battery Cables</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/battery-charger-parts/">Battery & Charger Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/scissor-lift-batteries/">Scissor Lift Batteries</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/6-volt-golf-cart-batteries/">6 Volt Golf Cart Batteries</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/8-volt-golf-cart-batteries/">8 Volt Golf Cart Batteries</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/12-volt-golf-cart-batteries/">12 Volt Deep Cycle Batteries</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/trojan-t-1275-batteries-12-volt-4-pack-48v/">Trojan T-1275 Batteries</a></li>
              <!-- <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/golf-cart-battery-chargers/">View All Battery Chargers</a></li>-->
            </ul>
        </div>
    </li>
    <li class="navPages-item">
        <a data-category class="navPages-action has-subMenu" href="/wheels-tires/" data-collapsible="navPages-1">
            Tires <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
        </a>
    </li>
    <li class="navPages-item">
        <a data-category class="navPages-action has-subMenu" href="/club-car/" data-collapsible="navPages-2">
            Club Car <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
        </a>
        <div class="navPage-subMenu" id="navPages-2" aria-hidden="true" tabindex="-1">

            <ul class="navPage-subMenu-list">
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-battery-charger-parts/">Battery & Charger Parts</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-batteries/">Batteries</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-body/">Body</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-brakes/">Brakes</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-battery-chargers/">Chargers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-cargo-storage/">Cargo & Storage</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-controllers/">Controllers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-dash-consoles/">Custom Dash Assembly</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-enclosures-covers/">Enclosures & Covers</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-floor-mats/">Floor Mats</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-gas-parts/">Gas Parts</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-golf-accessories/">Golf Accessories</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-lift-kits/">Lift Kits</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-lights/">Lights</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-manuals/">Manuals</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-speed-control-parts/">Speed Control Parts</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-steering-wheels-covers/">Club Car Steering Wheels</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-suspension/">Suspension</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-tops/">Tops</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-voltage-reducers-regulators/">Voltage Reducers/Regulators</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car-windshields/">Windshields</a></li>
               <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/club-car/">View All Club Car</a></li>
            </ul>

        </div>
    </li>
    <li class="navPages-item">
        <a data-category class="navPages-action has-subMenu" href="/ezgo-golf-cart-parts-accessories/" data-collapsible="navPages-3">
            EZGO <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
        </a>
        <div class="navPage-subMenu" id="navPages-3" aria-hidden="true" tabindex="-1">

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-batteries/">Batteries</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-battery-charger-parts/">Battery & Charger Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-body/">Body</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-brakes/">Brakes</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-cargo-storage/">Cargo & Storage</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ez-go-battery-chargers/">Chargers</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-controllers/">Controllers</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-enclosures-covers/">Enclosures & Covers</a></li>
              
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-floor-mats/">Floor Mats</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-gas-parts/">Gas Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-golf-accessories/">Golf Accessories</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-keys-key-switches/">Keys & Key Switches</a></li>
              
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-lift-kits/">Lift Kits</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-manuals/">Manuals</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-speed-control-parts/">Speed Control Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-steering-parts/">Steering Parts</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-suspension/">Suspension</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-windshields/">Windshields</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/ezgo-golf-cart-parts-accessories/">View All EZGO</a></li>
            </ul>

        </div>
    </li>
    <li class="navPages-item">
        <a data-category class="navPages-action has-subMenu" href="/yamaha-golf-cart-parts-accessories/" data-collapsible="navPages-4">
            Yamaha <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
        </a>
        <div class="navPage-subMenu" id="navPages-4" aria-hidden="true" tabindex="-1">

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-battery-charger-parts/">Battery & Charger Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-body/">Body</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-brakes/">Brakes</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-battery-chargers/">Chargers</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-controllers/">Controllers</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-floor-mats/">Floor Mats</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-gas-parts/">Gas Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-lift-kits/">Lift Kits</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-manuals/">Manuals</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-speed-control-parts/">Speed Control Parts</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-suspension/">Suspension</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-tops/">Tops</a></li>
            </ul>

            <ul class="navPage-subMenu-list">
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-windshields/">Windshields</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-seat-covers-cushions/">Yamaha Seat Cushions</a></li>
              <li class="navPage-subMenu-item"><a data-category class="navPage-subMenu-action navPages-action" href="/yamaha-golf-cart-parts-accessories/">View All Yamaha</a></li>
            </ul>

        </div>
    </li>
        <li class="navPages-item resources-item">
        <a class="navPages-action has-subMenu" href="/golf-cart-resource-library/" data-collapsible="navPages-1">
            <span>Resources <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
        </a>
        <div class="navPage-subMenu" id="navPages-1" aria-hidden="true" tabindex="-1">

            <ul class="navPage-subMenu-list">
                <li class="navPage-subMenu-item navPage-subMenu-header">THE BASICS</li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/what-year-is-my-club-car-golf-cart/">What Year is My Club Car</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/what-year-is-my-ez-go-golf-cart/">What Year Is My EZGO</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/what-year-is-my-yamaha-golf-cart/">What Year Is My Yamaha</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/what-is-my-golf-cart-battery-voltage-volts/">What Is My Golf Cart Battery Voltage</a></li>
            </ul>
        <ul  class="navPage-subMenu-list resources-middle-submenu">
             <li class="navPage-subMenu-item navPage-subMenu-header">POPULAR TOPICS</li>
            <li>
            <ul class="navPage-subMenu-list">
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/golf-cart-battery-charger-faq/">Golf Cart Battery & Charger FAQ's</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/golf-cart-lights-faq/">Golf Cart Lights FAQ's</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/golf-cart-tires-and-wheels-faq/">Tire & Wheel FAQ</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/golf-cart-buyers-guide-how-to-buy-the-right-golf-cart/">Golf Cart Buyer's Guide</a></li>
           </ul>
           </li>
            <li> 
            <ul class="navPage-subMenu-list">
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/how-to-make-a-golf-cart-street-legal/">How To Make Street Legal Golf Carts</a></li>
                <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/is-a-48-volt-golf-cart-better-than-a-36-volt-golf-cart/">36V vs. 48V Golf Carts</a></li>
                <li class="navPage-subMenu-item menu-blog-btn"><a class="navPage-subMenu-action navPages-action" href="/blog/">VISIT THE BLOG</a></li>
               <!-- <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/golf-cart-resource-library/">View All Resources</a></li>-->
            </ul>
            </li>
        </ul>
            

           
                <ul class="navPage-subMenu-list resources-last-submenu">
                      <li class="navPage-subMenu-item"><a class="navPage-subMenu-action navPages-action" href="/golf-cart-resource-library/"><img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-snboj/product_images/uploaded_images/resources-menu-img.jpg" alt="Golf Cart Resources"/></a></li>
                    </ul>
        </div>
    </li>
    <li class="navPages-item aboutus-item">
        <a class="navPages-action navPage-subMenu-action-mob-only" href="/about-us/">About Us</a>
        </li> 
</ul>
