<nav class="navUser">
<ul>
    <li>Everyday Low Prices Sitewide + Free Shipping on orders over $125. <a href="/faq/#FreeShipping">Details.</a></li>
    <li class="navUser-item">
        <div class="info-links">
           <div class="link"><a href="/about-us/">About Us</a></div>
           <div class="link"><a href="/faq/">FAQ</a></div>
           <div class="link"><a href="/contact-us/">Contact Us</a></div>
           {{#if customer}}
                <div class="link"><a href="{{urls.account.index}}">{{lang 'common.account'}}</a></div>
                <div class="link"><a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a></div>
            {{else}}
           <div class="link"><a href="{{urls.auth.login}}">{{lang 'common.login'}}</a></div>
            {{/if}}
        </div>
    </li>
     <li class="navUser-item navUser-item--cart">
            <a class="navUser-action"
                data-cart-preview
                /*data-dropdown="cart-preview-dropdown"*/
                data-options="align:right"
                href="{{urls.cart}}">
               <!-- <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span> -->
              <i class="cart-icon" aria-hidden="true"></i>  <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span> 
            </a>
            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
</ul>
</nav>
