{{#partial "head"}}
 {{{stylesheet '/assets/css/page.css'}}}
{{/partial}}

{{#if page.id '===' 4}}
{{#partial "aboutusbluesection"}}
<div class="contactus-list-header">
    <div class="container">
        <div class="contactus-list-title">{{ page.title }}</div>
          <div class="mob-contactus-menu">
            <a>QUICK LINKS</a>
              <ul class="navBar-section account-navigation">
                  <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
            </ul>
        </div>
    </div>
</div>
{{/partial}}
{{#partial "page"}}
<main class="page contact-us-page">
      <h2 class="contact-us-title-2">WE WOULD LOVE TO HEAR FROM YOU</h2>
    <div class="contact-us-main-container">
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
            <li><h3>QUICK LINKS</h3></li>
          <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
        </ul>
    </nav>
    <div class="page-content info-page">
       {{{page.content}}}
            {{> components/page/contact-us-form}}
    </div>
  </div>
</main>
{{/partial}}
{{else if page.id '===' 12}}
{{#partial "aboutusbluesection"}}
<div class="contactus-list-header">
    <div class="container">
        <div class="contactus-list-title">{{ page.title }}</div>
          <div class="mob-contactus-menu">
            <a>QUICK LINKS</a>
              <ul class="navBar-section account-navigation">
                  <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
            </ul>
        </div>
    </div>
</div>
{{/partial}}
{{#partial "page"}}
<main class="page contact-us-page">
   
    <div class="contact-us-main-container" style="margin-top:60px;">
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
            <li><h3>QUICK LINKS</h3></li>
          <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
        </ul>
    </nav>
    <div class="page-content info-page">
        <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
    </div>
  </div>
</main>
{{/partial}}
{{else if page.id '===' 10}}
{{#partial "aboutusbluesection"}}
<div class="contactus-list-header">
    <div class="container">
        <div class="contactus-list-title">{{ page.title }}</div>
          <div class="mob-contactus-menu">
            <a>QUICK LINKS</a>
              <ul class="navBar-section account-navigation">
                  <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
            </ul>
        </div>
    </div>
</div>
{{/partial}}
{{#partial "page"}}
<main class="page contact-us-page">
   
    <div class="contact-us-main-container" style="margin-top:60px;">
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
            <li><h3>QUICK LINKS</h3></li>
          <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
        </ul>
    </nav>
    <div class="page-content info-page">
        <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
    </div>
  </div>
</main>
{{/partial}}
{{else if page.id '===' 8}}
{{#partial "aboutusbluesection"}}
<div class="contactus-list-header">
    <div class="container">
        <div class="contactus-list-title">{{ page.title }}</div>
          <div class="mob-contactus-menu">
            <a>QUICK LINKS</a>
              <ul class="navBar-section account-navigation">
                  <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
            </ul>
        </div>
    </div>
</div>
{{/partial}}
{{#partial "page"}}
<main class="page contact-us-page">
   
    <div class="contact-us-main-container" style="margin-top:60px;">
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
            <li><h3>QUICK LINKS</h3></li>
          <li><a href="/contact-us/"> Tech Support</a></li>
                  <li> <a href="/faq/">Frequently Asked Questions</a></li>
                    <li> <a href="/golf-cart-battery-charger-faq/">Chargers & Batteries FAQs</a></li>
                    <li> <a href="/change-or-cancel-pending-order/">Change Pending Order</a></li>
                     <li> <a href="/policies/">Our Policies</a></li>
                     <li> <a href="/product-returns/">Returns & Replacements</a></li>
                     <li> <a href="/billing-issues/">Billing Issues</a></li>
                         <li><a href="/were-hiring/">We're Hiring</a></li>
        </ul>
    </nav>
    <div class="page-content info-page">
        <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
    </div>
  </div>
</main>
{{/partial}}
{{else}}
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<main class="page">
    <h1 class="page-heading">{{page.title}}</h1>
    {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}
    <div id="contact-us-page" class="page-content page-content--centered">
        {{#if forms.contact.success}}
            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
        {{else}}
            <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
        {{/if}}
    </div>
</main>
{{/partial}}
  {{/if}}
{{> layout/base}}
