<section class="heroCarousel"
         data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}},
        "lazyLoad": "anticipated"
    }'>
    {{#each carousel.slides}}
    {{#if url}}
    <div>
        <a href="{{url}}">
            -
            {{/if}}
            <div class="heroCarousel-slide {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
                <div class="heroCarousel-image-wrapper" {{#if image_height}} {{#if image_width}} style="background-size:cover;    background-position: center; background-image:url('{{image}}'); height: {{multiply (divide image_height image_width) 100}}vw; max-height: {{multiply (divide image_height image_width) 800}}px;" {{/if}} {{/if}}>

                </div>
                {{> components/carousel-content show_background=true}}
                {{#if heading}}
                {{> components/carousel-content show_background=true}}
                {{else}}
                {{#if text}}
                {{> components/carousel-content show_background=true}}
                {{else}}
                {{#if button_text}}
                {{> components/carousel-content show_background=false}}
                {{/if}}
                {{/if}}
                {{/if}}
            </div>
            {{#if url}}
        </a>
    </div>
    {{/if}}
    {{/each}}
</section>
