<section class="heroCarousel">
    <div class="desctop-version-video">
        <video autoplay="autoplay" loop="loop" poster="https://www.golfcartgarage.com/product_images/video/poster1920x650.jpg" style="min-width:100%; min-height:100%">
            <source src="https://www.golfcartgarage.com/product_images/video/GCG_LowPriceSlider-DSK-1920x650_2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="ipad-version-video">
        <video autoplay="autoplay" loop="loop" poster="https://www.golfcartgarage.com/product_images/video/poster1024x768.jpg" style="min-width:100%; min-height:100%">
            <source src="https://www.golfcartgarage.com/product_images/video/GCG_LowPriceSlider-TAB-1024x768_1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="mob-version-video">
        <video autoplay="autoplay" loop="loop" poster="https://www.golfcartgarage.com/product_images/video/poster480x360.jpg"  style="min-width:100%; min-height:100%">
            <source src="https://www.golfcartgarage.com/product_images/video/GCG_LowPriceSlider-MOB-480x360_1.mp4" type="video/mp4">
        </video>
    </div>
</section>
