
<div class="popularcategoriessection">
    <ul>
        <li>Popular Categories</li>
        <li>
            <a href="/golf-cart-battery-chargers/"><span class="name">Battery Chargers</span></a><i class="fa fa-caret-right"></i>
		</li>
        <li>
            <a href="/wheels-tires/"><span class="name">Tires &amp; Wheels</span></a><i class="fa fa-caret-right"></i>
        </li>
        <li>
            <a href="/golf-cart-lights/"><span class="name">Lights</span></a><i class="fa fa-caret-right"></i>
		</li>
    </ul>
</div>
