<div class="home-usp-container">
	<div class="drop-shadow">
	<div class="home-usp-text">We find the <span>RIGHT</span> part for your golf cart the <span>FIRST</span> time or we pay for return shipping, <span>EVERY</span> time.</div>
</div>
	<div class="usp-blocks-container">
		<div class="usp-block">
			<div class="fa-icon">
				<i class="fa fa-phone-square"></i>
			</div>
			<div class="promise"><div class="promise-inner"><span class="d-sm-none">Golf Cart</span> Experts on Call</div></div>
		</div>
		<div class="usp-block">
			<div class="fa-icon">
				<i class="fa fa-truck"></i>
			</div>
			<div class="promise"><div class="promise-inner"><span class="d-sm-none">Always</span> FREE Shipping</div></div>
		</div>
		<div class="usp-block">
			<div class="fa-icon">
				<i class="fa fa-handshake-o"></i>
			</div>
			<div class="promise"><div class="promise-inner"><span class="d-sm-none">We Make Ordering Easy</span><span class="d-md-none">Easy Ordering</span></div></div>
		</div>
	</div>
</div>
