<div class="image-link-blocks">

	<div class="image-link-block">
		<a href="#">
			<span class="image"><img src="{{cdn 'img/home-featured-club-car.jpg'}}" alt="Club Car"></span>
			<span class="name">Club Car</span>
		</a>
	</div>

	<div class="image-link-block">
		<a href="#">
			<span class="image"><img src="{{cdn 'img/home-featured-ezgo.jpg'}}" alt="EZGO"></span>
			<span class="name">EZGO</span>
		</a>
	</div>

	<div class="image-link-block">
		<a href="#">
			<span class="image"><img src="{{cdn 'img/home-featured-yamaha.jpg'}}" alt="Yamaha"></span>
			<span class="name">YAMAHA</span>
		</a>
	</div>

</div>
