  <!-- Add this code to product page: -->
  <div itemscope itemtype="http://schema.org/Product">

    <meta itemprop="description" content="{{lang 'products.description'}}">
    <link itemprop="url" href="https://www.golfcartgarage.com/6-volt-golf-cart-batteries-trojan-battery-t-105-6v-225ah-6-pack-36v/" rel="author"/>
    <a itemprop="url" href="https://www.golfcartgarage.com/6-volt-golf-cart-batteries-trojan-battery-t-105-6v-225ah-6-pack-36v/"><span itemprop="name" style="display:block;"><strong>PRODUCT_NAME</strong></span></a>
    <span itemscope itemtype="http://schema.org/Brand"  style="display:block;"><span itemprop="name">BRAND</span></span>
    <span itemprop="member" itemscope itemtype="http://schema.org/Organization"  style="display:block;">Manufactured by: <span itemprop="name">MANUFACTURER</span></span>
    <span style="display:block;">Model: <span itemprop="model">MODAL</span></span>
    <span style="display:block;">Product ID: <span itemprop="productID">ID</span></span>
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="price">1249.95</span><link itemprop="itemCondition" href="http://schema.org/NewCondition" />New</span>
  </div>
